body{

color:#fff;
background-color: #0065e5;

}

#sectionOne{

	height: 500px;

}

#chat{
	overflow-y: scroll;
	background-color: #fff;
	height: 500px;
	color:#000;
}

#enterMess{
	color:#000;
	width:100%;
}

#rps-vs{
	width:100%;
}